{% extends 'admin.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Liste des contacts</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Email</th>
                    <th>Téléphone</th>
                    <th>User Email Put</th>
                    <th>Détails</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for contact in contacts %}
                    <tr>
                        <td>{{ contact.nom }}</td>
                        <td>{{ contact.prenom }}</td>
                        <td>{{ contact.email }}</td>
                        <td>{{ contact.telephone }}</td>
                        <td>{{ contact.usercontact }}</td>
                        <td><a href="{{ path('app_contact_show', {'id': contact.id}) }}">Détails</a></td>
                        <td><a href="{{ path('app_contact_edit', {'id': contact.id}) }}">Modifier</a></td>
                        <td><a href="{{ path('app_contact_delete', {'id': contact.id}) }}">Supprimer</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
